 :root{
    --themecolor:rgb(255, 253, 253);
    --zeroprimary:rgb(236, 213, 213);
    --primary:rgba(189, 50, 32, 0.877);
    --medium:rgba(153, 33, 18, 0.877);
    --secondary:rgb(99, 28, 28);
    --background:#f5f0f0;
    --background1:rgb(250, 248, 248);
    --gray1:rgb(156, 156, 156);
    --gray2:rgb(102, 102, 102);
    --gray3:rgb(90, 90, 90);
} 