div#Profile{
   background-color: white;
   padding-top: 5%;
   padding-bottom:5%;
   display: flex;
   flex-direction: row;
   justify-content: center;
   background-color: rgb(216, 216, 216);
}


div#ProfileInfo{ box-shadow: 2px 2px 4px 1px rgb(180, 180, 180); background-color: white;  padding: 3%; display:flex; flex-direction: column; align-items: center; }
div#ProfileInfo fieldset{ margin-top: 2vh; border:2px solid rgb(94, 91, 91); border-radius:5px;}
div#ProfileInfo fieldset legend{ font-family: Lucida Sans Unicode; font-weight: bold;   color:rgb(68, 68, 68); }
div#ProfileInfo fieldset svg{ color: rgb(68, 68, 68); margin-left:2vw;  }
div#ProfileInfo fieldset input.textfield{ background-color: transparent; font-family: Lucida Sans Unicode;  font-size: 1.1vw; margin-left:1em; width:50vw; border:0; outline:none; }
div#ProfileInfo fieldset input.textfield::placeholder{ color:rgb(196, 196, 196);  font-family: Lucida Sans Unicode; }

div#ProfileInfo button.savebtn{
    margin-top: 4vh;
    font-size: 1.3vw;
    font-family: Lucida Sans Unicode;
    font-weight:bold;
    padding-left:1em;
    padding-right:1em;
    border-radius: 5px;
    border:0;
    letter-spacing: 0.1em;
    color:white;
    background-color: darkred;
    align-self:center;
}
div#ProfileInfo button.savebtn svg{
     padding-right: 0.5em;
}

@keyframes savepopup
{
    0%{  top:0%; font-size: 0;   }
    100%{ top:40%;  font-size: 1.3vw;    }
}



div#savedpopup{
    animation-duration:0.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-direction: alternate;
    box-shadow: 0 4px 10px rgb(133, 133, 133);
    background-color: white;
    padding-left:5em;
    padding-right:5em;
    padding:2em;
    position:fixed;
    display: none;
    top:40%;
    left:45%;
    font-size: 1.3vw;
    font-family: Lucida Sans Unicode;

    color:rgb(17, 138, 17);
}

div#savedpopup svg{
    margin-right:1vw;
    font-size: 2vw;
    color:rgb(17, 138, 17);

}




@media only screen and (orientation:portrait)
{
    div#Profile{
        padding-top: 18vh;
    }
    div#ProfileInfo fieldset input.textfield{ font-size: 2.5vh; margin-left:1em; padding-top:0.5em; padding-bottom:0.5em; width:70vw; }
    div#ProfileInfo fieldset legend{ font-size: 1.5vh;}
    div#ProfileInfo button.savebtn{
        margin-top: 4vh;
        font-size: 2.5vh;
        padding-top:0.5em;
        padding-bottom:0.5em;

    }
    div#ProfileInfo fieldset svg{ font-size: 2vh;}
  
    div#savedpopup{
    
        padding-left:5em;
        padding-right:5em;
        padding:2em;
        top:30vh;
        left:30vw;
        font-size: 2vh;
      
    }
    div#savedpopup svg{
        margin-right:2vw;
        font-size: 3vh;
       
    }


}