@import '../config.css';
div#footer{
    background-color:var(--medium);
    color:var(--background);
    font-family: Calibri;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    padding:0.5em;
    width:100%;
     
}

div#footer div.section{
    display:flex;
    flex-direction: column;
    
}
div#footer div.section p{ color:"white"; margin:0; font-size:1.2em; font-weight: bold;}
div#footer div.section a{ color:var(--background); text-decoration: none; padding-top: 1.1em;  }
div#footer div.section a:hover{ text-decoration: underline; }
div#footer div.section a:hover svg{ transition-duration: 1.5s;   transform: rotateY(360deg);    }
div#footer div.section a svg{  margin-right:1em;  }


@media only screen and (orientation:portrait)
{
    div#footer {
        flex-direction: column;
    }
    div#footer div.section{
     font-size: 1.5vh;
     margin-top:3em;
     margin-left:1em;
        
    }
}