@import '../config.css';
div#Header{  background-color:var(--background1); position:fixed;  width:100%; display:flex;  border-bottom:2px solid var(--background1);     }
div#Header div{ display:flex; justify-content: center; align-items: center; }
div#Header div#sidemenubtn{ flex-grow:1; display:flex;   }
div#Header div#logo{    flex-grow:4;  display:flex; justify-content: left;         }
div#Header div#searchbar{   flex-grow:1;       }
div#Header div#cart{      flex-grow:1;         }
div#Header div#Signin,div#Header div#Signout{  cursor:default;  flex-grow:1;  font-family: Lucida Sans Unicode; font-weight: bold;  color:rgb(80, 76, 76);  font-size: 1.1rem;    }


div#Header  svg{
    color:var(--medium);  
}

div#Header svg:hover,div#Header div#Signin:hover,div#Header div#Signout:hover{
    color:var(--secondary);

}
div#Header div#searchbar svg:hover{
    transform:scale(1.1)
}


div#Header div#logo img{
    height:100%;
    width:3vw;
    min-width: 20px;
    min-height: 20px;
}

div#Header div svg{
    font-size:1.5vw;
    min-width: 20px;
    min-height: 20px;
}
div#Header div#sidemenubtn svg{
    font-size:2vw;
}


div#searchHandle{
  display:none;
  width:100%;
  padding-top:5%;
  background-color: var(--background1);
}


div#searchHandle div:nth-child(1){  margin-top: 5px; display:flex; flex-direction: row; justify-content: center; align-items: center; }
div#searchHandle div:nth-child(2){ border-radius:5px;  padding-left:2vw; border:1px solid var(--gray1); margin-top: 15px;  display:flex; flex-direction: column; justify-content: space-evenly; flex-wrap: wrap;  }

div#searchHandle div:nth-child(1) input[type='text']{padding-left:1%; color:var(--gray1); border-radius:4px;  border:2px solid rgb(206, 204, 204); font-size:1.2rem; width:70%; margin-right:1%; min-height: 20px; padding-top:0.2em;  }
div#searchHandle div:nth-child(1) button{ border:0px; background-color:var(--primary); color:white;  border-radius:4px; font-size: 1.1rem; letter-spacing:0.05em; min-height: 20px; font-weight: bold;font-family: Lucida Sans Unicode;  }
div#searchHandle div:nth-child(1) button:active{
   transform:perspective(20px) translateZ(-1px);
}

div#searchHandle div:nth-child(1) input[type='text']:focus{ outline:none;    }

div#searchHandle div:nth-child(2) p{
    font-size:12px;
    margin-bottom: 0;
    font-family: Lucida Sans Unicode;
    color:rgb(102, 102, 102);
    cursor:pointer;
}

div#searchHandle div:nth-child(2) p svg{
     color:var(--gray2);
     margin-right: 5px;
     width:13px;
     height:13px;
}
div#searchHandle div:nth-child(2) p:hover{
    color:var(--primary);
    background-color: rgb(236, 223, 223);
}
div#searchHandle div:nth-child(2) p:hover svg{
    color:var(--secondary);
  
}



div#cart sub{
    color:rgb(121, 23, 23);
    font-family: Lucida Sans Unicode;
    font-weight:bold;
}













@media only screen and (orientation:landscape){
    div#searchHandle div:nth-child(2){  height:200px;}
}


@media only screen and (orientation:portrait)
{

    div#searchHandle div:nth-child(1) button{  font-size: 1.8vh; padding:0.8em; }

    div#searchHandle div:nth-child(1) input[type='text']{padding-left:2vw; margin-right:2vw; font-size:3vh; width:70%;   padding-top:0.2em; padding-bottom:0.2em;  }

    div#searchHandle{
        padding-top:13vh;
    }
    div#Header{
        padding-top:3vh;
        padding-bottom:3vh;
    }
    div#Header div#sidemenubtn svg{
        font-size:3vh;
    }
    div#Header div svg{
        font-size:3vh;
        
    }
   div#Header div#Signin{
       display:none;
   }
   div#searchHandle div:nth-child(2){ height:50vh;  }

   div#searchHandle div:nth-child(2) p{
    font-size:1.5vh;
   }
   div#searchHandle div:nth-child(2) p svg{
    margin-right: 2vw;
    width:10vw;
    height:2.5vh;
}
  
div#cart sub{
 font-size:2vh;
}

div#Header div#Signout{   font-size: 1.5vh; }



}