div#List{    height:250px; display:flex; align-items: center;                   }
div#List div.btns{  flex-grow: 1; display: flex; align-items: center; justify-content:center;              }

div#List div#container{  flex-grow: 2; display:flex; align-items: center;  justify-content: space-evenly;    }
div#List div.btns svg{  font-size: 2.5vw; }
div#List div.btns:hover svg{
     transform:scale(1.2)
   
    }



div#List div#container div.product{
  
    width:15vw;
    height:15vw;
}

div#List div#container div.product img{
    width:100%;
    height:80%;
}
div#List div#container div.product p{
    margin:0;
    height:18%;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    font-family: Lucida Sans Unicode;
    font-weight:bold;
    font-size:100%;
}

p#listname{
    margin:0;
    font-size:1.5vw;
    font-family:Lucida Sans Unicode;
    font-weight: bold;

}

@media only screen and (orientation:portrait)
{
    div#List div.btns svg{
        font-size: 3.5vh;
    }
    p#listname{
        font-size:3vh;
    }
    div#List div#container div.product{
  
        width:14vh;
        height:14vh;
    }

    div#List{   height:30vh;  }
    div#List div#container div.product p{
        font-weight:bold;
        font-size:1.5vh;
    }


}